<!DOCTYPE html>
<html>
<head>
	<title>Login page</title>
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
	<form method="post">
		<fieldset>
			<body style="background-color:#bedbbb;">
			<legend>REGISTRATION</legend>
			<center>
			<table>
                <tr>
					<td>Name</td>
					<td><input type="text" name="name"></td>
				</tr>
				<tr>
					<td>Username</td>
					<td><input type="text" name="username"></td>
				</tr>
				<tr>
					<td>Password</td>
					<td><input type="password" name="password"></td>
                </tr>
                <tr>					
					<td><input type="radio" id="male" name="gender" value="male">
                    <label for="male">Male</label></td>
                    <td><input type="radio" id="female" name="gender" value="female">
                    <label for="female">Female</label></td>
                </tr>
                <tr>
					<td>Address</td>
					<td><input type="text" name="address"></td>
                </tr>
                <tr>
					<td>Email</td>
					<td><input type="email" name="email"></td>
                </tr>
                <tr>
					<td>Nid</td>
					<td><input type="number" name="nid"></td>
                </tr>
                <tr>
					<td>contact no</td>
					<td><input type="text" name="phone"></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" name="submit" value="Submit"></td>
				</tr>
				<tr>
					<td>Already have a account </td>
					<td><a href="/login"> login </a></td>
				</tr>
			</table>

			</center>
		</fieldset>
	</form>
</body>
</html>