<!DOCTYPE html>
<html>
<head>
	<title>Customer HOME page</title>
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
	<body style="background-color:#bedbbb;">
  
    <h1>Welcome Customer</h1>
    <center><h2>Online Medicine Shop</h2></center> 
    <hr>

<!-- 
    <a href="/userhome/update">UPDATE</a> 
    <a href="/transaction">TRANSACTION</a> 
	<a href="/logout">LOG OUT</a>	
	 -->





<div class="container">
		<ul class="nav nav-pills">

		<li class="nav-item">
				<a class="nav-link" href="/userhome/profile">Profile</a>
		</li>	
		<li class="nav-item">
				<a class="nav-link" href="/userhome/update">Update Profile</a>
		</li>	
		  <br>
  
		  	<li class="nav-item">
			 <a class="nav-link"  href="/userhome/medicinelist">Medicine LIST</a>
		    </li>
		  </li>
		  	

		   	<li class="nav-item">
			<a class="nav-link"  href="/transaction">Purchase History</a>
		    </li>

 
			<li class="nav-item">
			<a class="nav-link" href="/adminhome/searchuser">Search Medicine</a>

			
		<li class="nav-item">
			<li class="nav-item">
				<a class="nav-link" href="/logout">Log Out</a>
			</li>
		  </li>
		  
		</ul>
	  </div>






<hr>	
</body>
</html>