<!DOCTYPE html>
<html>
<head>
	<title>Customer Home Page</title>
	 <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
	<body style="background-color:#bedbbb;">
  <hr>
	 	<li><a href="#"><i class="fa fa-home"> </i> Home </a></li>
	 	<li><a href="/Mhome/profile"><i class="fas fa-user"></i> Profile </a></li>
		<li><a href="#"><i class="fas fa-angle-double-up"></i> Update Info </a>
			<div class="sub-menu-1">
				
					<li><a href="user1/update"> Personal Info</a></li><br>
			</div>
		</li>
		
		<li><a href="/Mhome/transactionlist"> <i class="fas fa-eye"></i>My TransitionInfo </a></li>
		
		 <li><a href="/logout"><i class="fas fa-running"></i>Logout</a></li>

<hr>


</body>
</html>