<!DOCTYPE html>
<html>
<head>
	<title>Admin Home page</title>
	<meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body style="background-color:#bedbbb;">
	
	<h2>Admin Home Page</h2>
<center><h1>Online Medicine Shop</h1></center>
<hr>
	  <div class="container">
		<ul class="nav nav-pills">

		<li class="nav-item">
				<a class="nav-link" href="/adminhome/profile">Profile</a>
		</li>	
		  <br>
		  <li class="nav-item">
			<a class="nav-link" href="/user/addMedicine">Add Medicine</a>
		  </li>
		  
		  	<li class="nav-item">
			 <a class="nav-link"  href="/adminhome/medicinelist">Medicine LIST</a>
		    </li>
		  </li>
		  	<li class="nav-item">
			 <a class="nav-link"  href="/adminhome/userlist">Customer List</a>
		    </li>

		   	<li class="nav-item">
			<a class="nav-link"  href="/adminhome/transaction">Transaction History</a>
		    </li>


			<li class="nav-item">
				<a class="nav-link" href="/adminhome/searchuser">Search Medicine</a>
			</li>
			
			

				
			
		<li class="nav-item">
			<li class="nav-item">
				<a class="nav-link" href="/logout">Log Out</a>
			</li>
		  </li>
		  
		</ul>
	  </div>
<hr>

</body>
</html>
